* {
    //border: red solid;
}

.p1 {
    visibility: hidden;
}

html {
    background-color: #fff;
    font-family: Roboto, Helvetica Neue, sans-serif;
    background-color: #02022D;
    color: white;
    position: static;
}

#header01 {
    height: 10px;
    width: auto;
    margin: 0px auto;
    text-align: center;
    padding: 0px 0px;
}

#csapatok01 {
    height: 470px;
    margin-top: 26px;
    padding: 16px 0px;
    text-align: center;
    background-image: url(http://www.foosballreviews.com/foosball-video-picture.jpg);
    background-position: center center;
    background-size: cover;
    
}
#csapatok {
    display: none;
    margin-top:40px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: rgba(2,66,46,0.6);
    padding: 28px;
}

#sorsolas01 #sorsolas {
    
    height: 38px;
    padding: 16px 0px;
    color: #02422D;
    background: #F0F0F0;
    border: 1px solid #CCC;
    width: auto;
    margin: 0px auto;
    text-align: center;
}

#esemenyter {
    
    height: 590px;
    padding: 50px 0px;
    text-align: center;
    background-image: url(https://image.freepik.com/free-vector/table-soccer-players_23-2147507076.jpg);
    opacity: 1;
}

#asztal1{
    background-color: rgba(46, 139, 87, 0.9);
}
#asztal3{
    background-color: rgba(46, 139, 87, 0.9);
}
#asztal5{
    background-color: rgba(46, 139, 87, 0.9);
}
#asztal2{
    background-color: rgba(46, 139, 87, 1);
}
#asztal4{
    background-color: rgba(46, 139, 87, 1);
}

.table {
    height: 115px;
    width: 350px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
}

table.center {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

table.center02 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


th{
    background-color: darkslategray;
}

td{
    height: 35px;
}
tr:nth-child(even){background-color: seagreen}

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 -30px;
    text-align: center;
    text-transform: uppercase;
    
}

h2, h4 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}

h4 {
    font-size: 15px;
}


p {
    color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}

a {
    color: #c8c8c8;
    text-decoration: underline;
}

a:hover {
    color: #1c1c1c;
    text-decoration: underline;
}

.button {
    position: fixed;
    top: 6px;
    color: white;
    font-size: 126%;
    width: 54px;
    padding: 14px;
    background-color: rgba(255,255,255,1);
    border: none;
    cursor: pointer;
    
}

.button:hover {
    background-color: rgba(255,255,255,0.5);
}

.button:disabled{
    opacity: 0.2;
}

.fixed {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 200px;
}

.fixed02 {
    position: fixed;
    bottom: 35%;
    right: 6px;
    height: 275px;
    width: 50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
